

    <div class='jumbotron center-block'>

            <div class="col-md-8 col-md-offset-2 col-xs-12">
                <div id="jtstyle">
                    Expand your reach with our contact lists of potential clients and investors.

                </div>
            </div>
    </div>

    <div class="row" id="offerrow">

        <div class="col-md-2 col-md-offset-3 col-xs-12" id="offercol">
          <div>
            <%= link_to image_tag('dollarsign.jpg', id:'imgcenter') %>

          </div>
        </div>

        <div class="col-md-2 col-xs-12" id="offercol">
          <div>
            <%= link_to image_tag('US-Map.png', id:'imgcenter') %>

          </div>

        </div>

        <div class="col-md-2 col-xs-12" id="offercol">
          <div>
            <%= link_to image_tag('network-1.jpg', id:'imgcenter') %>

          </div>

        </div>

    </div>

    <div class="row">

      <div class="col-md-2 col-md-offset-3 col-xs-12" id="jtstyle">
        <br>
        <strong>Over $1T (to check) in Assets Under Management</strong><br><br>
        <ul>
          <li>Over 40,000 Registered Investment Advisors</li>
          <li>Over XXX Family Office</li>
          <li>Complete list includes XX,XXX email addresses and XX,XXX phone numbers</li>

        </ul>

      </div>

      <div class="col-md-2 col-xs-12" id="jtstyle">
        <br>
        <strong>Available in regions or for the whole country. Buy only the lists you need.</strong>
        <br><br>
        Available Lists:
        <ul>
          <li>Northwest RIAs</li>
          <li>Southwest RIAs</li>
          <li>...</li>
          <lin>National Family Offices</lin>
        </ul>

      </div>

      <div class="col-md-2 col-xs-12" id="jtstyle">
        <br>
        <strong>Jumpstart your outreach</strong><br><br>
        <br>
        <ul>
          <li>Take the guess work out of outreach by starting with a list of potential investors and organizations</li>
          <li>Use our list to contact investors via email, phone, or web</li>
          <li>Add to your existing target list, and build your target list</li>
        </ul>

      </div>

    </div>

    <div class="row" id="offerrow">
      <div class="col-xs-12" id="buttoncol">
        <button type="button" class="btn btn-primary btn-lg">Contact Us to Request a Sample</button>
      </div>
    </div>

    <div class="row" id="offerrow">
      <div class="col-xs-12 col-md-9 col-md-offset-3" id="pricecol">
        <strong>List Pricing</strong>
        <br>
        <ul>
          <li>$350 for each individual list</li>
          <li>$750 for the National RIA list, including all regions (except internatonal)</li>
          <li>$850 for National RIA list and Family Office list</li>
        </ul>
      </div>
    </div>

    <div class="row" id="offerrow">
      <div class="col-xs-12" id="buttoncol">
        <button type="button" class="btn btn-primary btn-lg">Contact Us to Purchase</button>
      </div>
    </div>