

    <div class='jumbotron center-block'>

            <div class="col-md-8 col-md-offset-2 col-xs-12">
                <div id="jtstyle2">
                    <strong><i> Accelerate Your Capital Outreach </strong></i>

                </div>
            </div>
    </div>

    <div class="row" id="offerrow">

        <div class="col-md-2 col-md-offset-3 col-xs-12" id="offercol">
          <div>
            <%= link_to image_tag('dollarsign.jpg', id:'imgcenter') %>

          </div>
        </div>

        <div class="col-md-2 col-xs-12" id="offercol">
          <div>
            <%= link_to image_tag('US-Map.png', id:'imgcenter') %>

          </div>

        </div>

        <div class="col-md-2 col-xs-12" id="offercol">
          <div>
            <%= link_to image_tag('network-1.jpg', id:'imgcenter') %>

          </div>

        </div>

    </div>

    <div class="row">

      <div class="col-md-2 col-md-offset-3 col-xs-10 col-xs-offset-1" id="jtstyle">
        <br>
        <strong>Trillions of Dollars in Assets Under Management</strong><br><br>
        <ul>
          <li>Over <strong>22,000+</strong> Registered Investment Advisor Email Addresses</li>
          <li>Over <strong>4,000+</strong> Family Office Addresses</li>
          <li>Complete list includes more than <strong>26,000+</strong> Email Addresses; most contacts also include website, phone number and mailing address</li>
          <li>RIA Lists also include other supporting information including assets under management and number of investors </li>

        </ul>

      </div>

      <div class="col-md-2 col-md-offset-0 col-xs-10 col-xs-offset-1" id="jtstyle">
        <br>
        <strong>Available in regions or for the whole country. Buy only the lists you need</strong>
        <br><br>
        Available Lists:
        <ul>
          <li>National List of Family Offices</li>
          <li>List of Registered Investment Advisors by Region
            <ul>
                <li>Atlanta and Southeast</li>
                <li>Boston and Northeast</li>
                <li>Chicago and Midwest</li>
                <li>Denver and Mountain States</li>
                <li>Fort Worth and Southwest</li>
                <li>Los Angeles and Southern California</li>
                <li>Miami and Florida</li>
                <li>New York and Surrounding Area</li>
                <li>Philadelphia and Mid-Atlantic</li>
                <li>San Francisco and Northwest</li>
          </ul></li>
        </ul>

      </div>

      <div class="col-md-2 col-md-offset-0 col-xs-10 col-xs-offset-1" id="jtstyle">
        <br>
        <strong>Jumpstart your outreach</strong><br><br>
        <br>
        <ul>
          <li>Take the guess work out of outreach by starting with a list of potential investors and organizations</li>
          <li>Use our list to contact investors via email, phone, or web</li>
          <li>Add to your existing target list, and build your marketing platform</li>
        </ul>

      </div>

    </div>

<!--    <div class="row" id="offerrow">
      <div class="col-xs-12" id="buttoncol">
        <button type="button" class="btn btn-primary btn-lg">Contact Us to Request a Sample</button>
      </div>
    </div> -->

    <div class="row" id="offerrow">
      <div class="col-xs-10 col-xs-offset-1 col-md-9 col-md-offset-3" id="pricecol">
        <strong>List Pricing</strong>
        <br>
        <ul>
          <li>$350 for each Regional RIA list</li>
          <li>$500 for the National Family Office List</li>
          <li>$850 for the National RIA list, including all regions </li>
          <li>$1,100 for full set of RIA lists and National Family Office list (best price)</li>
        </ul>
        <br><br>

      </div>
    </div>

    <div class="row" id="offerrow">
      <div class="col-xs-12" id="buttoncol">
        <a href="mailto:sales@chancelloris.com?subject=I'm Interested in Your Lists&body=I'd like to learn more about your Family Office and RIA Lists. Please contact me.">
            <button type="button" class="btn btn-primary btn-lg"> Contact Us to Purchase or Request a Sample</button>
        </a>
      </div>
    </div>