@import "bootstrap";

body {

  padding-bottom: 10%;
  font-size: 17px;
  font: Verdana;
  background-color: rgba(255, 255, 255,1);

}

.jumbotron {
  margin-top:2.5%;
  width: auto;
  height: 75vh;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.9);
  border-style: solid;
  border-color: lightgray;
  border-width: 1px;
  font-size: 30px;
  background-image: image-url('hi-speed-7.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}


.navbar-fixed-top{
  background-color: whitesmoke;
  background-color: rgba(245, 245, 245, 1);
  font-size: 15px;
  padding-top: 2.5%;
  padding-bottom: 0.5%;
  padding-right: 14.1%;
  padding-left: 14.1%;

}

.navbar-fixed-bottom{
  background-color: whitesmoke;
  background-color: rgba(245, 245, 245, 1);
  font-size: 15px;
  padding-top: 1.0%;
  padding-bottom: 1.0%;
  padding-right: 14.1%;
  padding-left: 14.1%;
  font-weight: bold;
}

#buttoncol {
  display:inline-block;
  text-align:center;

}

#pricecol {
  display:inline-block;
  text-align:left;

}

#slogan {
  font-style: italic;
  font-weight: bold;
  display: block;

}

#slogan2 {
  font-style: italic;
  font-weight: bold;
  display: block;
  color: #ff7e0c;
}

#jtstyle {
  display: inline;

  color: black;


}

#jtstyle2 {
  display: inline;
  color: black;


}

#offerrow {
  margin-top: 50px;


}

#offercol {

  display:inline-block;
  text-align:center;

}

#imgcenter {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  height:auto;
  max-height: 125px;


}

@media screen and (max-width: 768px) {
  body {
    font-size: 16px;

  }

  .navbar-fixed-top {
    font-size: 16px;

  }

  #offercol{
    font-size: 16px;

  }

  #buttoncol{
    font-size: 30px;

  }

  #jtstyle2 {
    font-size: 22px;

  }

  #imgcenter {
    display: none;

  }

}