<!DOCTYPE html>
<html>
<header class="navbar">
  <title>Investor Contact Lists</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <!-- %= javascript_include_tag 'application', 'data-turbolinks-track' => true %> -->
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <%= csrf_meta_tags %>

  <div class='navbar-fixed-top container-fluid'>

    <div class="navbar-right" id="slogan">
      Lists of Family Office and RIA Investors
    </div>


  </div>
</header>
<body>

<%= yield %>

</body>
<footer class="navbar">
  <div class="navbar-fixed-bottom container-fluid">
    <div class="navbar-right">
      Contact Us to Learn More
    </div>
  </div>


</footer>


</html>
